:root {
    --site-bg: black;
    --panel-bg: #19181b;
    --text-field-bg: #4b4d56;

    --stage-height: 90vh;
}

@media only screen and (max-width: 1024px) {
    :root {
        --stage-height: 80vh;
    }
}

html {
    background-color: var(--site-bg);
    overflow: hidden;
}

body {
    margin: 0;
}

#stage {
    height: var(--stage-height);
    overflow: hidden;
    white-space: nowrap;
}
#stage.maximized {
    --stage-height: 100vh;
}

#stage .msg {
    line-height: 1;
    font-size: calc(var(--stage-height) - 16vh);
    color: lime;
}

#panel {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: calc(100vh - var(--stage-height));
    padding: 0 5%;
    box-sizing: border-box;
    background-color: var(--panel-bg);
}

.slide-in {
    animation: slide-in 1s forwards;
}
.slide-out {
    animation: slide-out 1s forwards;
}

@keyframes slide-in {
    0% { transform: translateY(100%); }
    100% { transform: translateY(0%); }
}
@keyframes slide-out {
    0% { transform: translateY(0%); }
    100% { transform: translateY(100%); }
}

#msg-form {
    display: flex;
    width: 90%;
}
#msg-form .text-field-container {
    position: relative;
    width: 60%;
}
#msg-form .text-field-container .text-field {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    border: none;
    border-radius: 16px;
    background-color: var(--text-field-bg);
    color: white;
    font-size: 2.4rem;
}
#msg-form .text-field-container #delete-btn {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    transition: 0.3s;
}
#msg-form .text-field-container #delete-btn:hover {
    color: #fc3d3d;
}
#msg-form .submit-btn {
    margin-left: 1rem;
}

#show-panel {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    opacity: 0;
    transition: 0.3s;
}
#show-panel.show {
    opacity: 1;
}

.btn {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
.panel-btn {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-left: 1.5rem;
    font-size: 2.5rem;
    transition: 0.3s;
}
.panel-btn:hover {
    color: var(--panel-bg);
    background-color: lime;
}
