.slide-in {
    animation: slide-in 1s forwards;
}
.slide-out {
    animation: slide-out 1s forwards;
}

@keyframes slide-in {
    0% { transform: translateY(100%); }
    100% { transform: translateY(0%); }
}
@keyframes slide-out {
    0% { transform: translateY(0%); }
    100% { transform: translateY(100%); }
}

.fade-in {
    animation: fade-in 0.2s forwards;
}
.fade-out {
    animation: fade-out 0.2s forwards;
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
