@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,500,0,0');

:root {
    --site-bg: black;
    --panel-bg: #19181b;
    --text-field-bg: #4b4d56;
    --theme-color: lime;
    --color-free: gray;

    --stage-height: calc(100vh - var(--panel-height));
    --panel-height: 6rem;
    --panel-btn-size: 4rem;
    --color-size: 3rem;

    --msg-duration: 10s;
}

html {
    background-color: var(--site-bg);
    font-family: 'Noto Sans TC', sans-serif;
    overflow: hidden;
}

body {
    margin: 0;
}

.btn {
    padding: 0;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.spacer {
    flex-grow: 1;
}
