#palette {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#color-picker {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.color {
    width: var(--color-size);
    height: var(--color-size);
    background-color: gray;
    margin: 0.5rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    cursor: pointer;
}
.color:hover:not(.selected) {
    box-shadow: 0 0 10px white;
}
.color.selected {
    box-shadow: 0 0 10px var(--theme-color);
}
.color.selected:not(.color-free)::after {
    content: '\e5ca';
    font-family: 'Material Symbols Outlined';
    font-weight: bold;
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: var(--color-size);
    text-align: center;
    vertical-align: middle;
}

.color-1 {
    background-color: red;
}
.color-2 {
    background-color: orange;
}
.color-3 {
    background-color: yellow;
}
.color-4 {
    background-color: lime;
}
.color-5 {
    background-color: aqua;
}
.color-6 {
    background-color: mediumorchid;
}
.color-7 {
    background-color: white;
}
.color-8 {
    background-color: wheat;
}
.color-9 {
    background-color: aquamarine;
}
.color-free {
    position: relative;
    background-color: var(--color-free);
}
.color-free i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: var(--color-size);
    color: white;
    text-align: center;
    vertical-align: middle;
}
