#panel-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--panel-height);
}

#panel {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 5%;
    box-sizing: border-box;
    background-color: var(--panel-bg);
}

.panel-btn {
    width: var(--panel-btn-size);
    height: var(--panel-btn-size);
    border-radius: 50%;
    margin-left: 1.5rem;
    font-size: 2.5rem;
    transition: 0.3s;
}
.panel-btn:hover {
    color: var(--panel-bg);
    background-color: lime;
}

.control-btn {
    visibility: hidden;
}

#show-panel-btn {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    opacity: 0;
    transition: 0.3s;
}
#show-panel-btn.show {
    opacity: 1;
}
