#panel-container {
    position: absolute;
    bottom: 0;
    z-index: 5;
    width: 100%;
    height: var(--panel-height);
}

#panel {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 2%;
    box-sizing: border-box;
    background-color: var(--panel-bg);
}

.panel-card-container {
    position: relative;
    height: 100%;
    z-index: -1;
}

.panel-card {
    position: absolute;
    bottom: var(--panel-height);
    right: calc(-1 * var(--panel-btn-size));
    width: 21rem;
    height: 9rem;
    padding: 0.5rem;
    box-sizing: border-box;
    background-color: var(--text-field-bg);
    transform: translateY(100%);
}

.panel-card-close {
    display: none;
}

.panel-btn-container {
    flex: 1;
}
.panel-btn {
    width: var(--panel-btn-size);
    height: var(--panel-btn-size);
    border-radius: 50%;
    font-size: 2.5rem;
    transition: 0.3s;
}
.panel-btn:not(.selected):hover {
    color: var(--theme-color) !important;
}
.panel-btn.selected {
    color: var(--panel-bg);
    background-color: var(--theme-color);
}

.control-btn {
    visibility: hidden;
}
.control-btn:disabled {
    color: gray;
}
.control-btn:disabled:hover {
    color: gray !important;
}
