#speed-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#speed-display {
    margin-bottom: 1rem;
    font-weight: bold;
}

#speed-card .slider {
    user-select: none;
}
